<mj-text>Hey <%= @user_name %></mj-text>
<mj-text>We've received a request ro reset your GiTS password. To continue, click the link below</mj-text>
<mj-button border-radius="8px" padding="20px 0" align="left" background-color="#18181b" color="white" href="<%= @url %>">
  Reset password
</mj-button>

<mj-text>If you didn't request a password reset, you can ignore this email</mj-text>
