<mj-text>Hey <%= @user_name %></mj-text>
<mj-text>Thanks for registering an account with us, we just need to verify your email address by clicking the link below</mj-text>
<mj-button border-radius="8px" padding="20px 0" align="left" background-color="#18181b" color="white" href="<%= @url %>">
  Verify email address
</mj-button>
