<mj-text>Hey <%= @user_name %></mj-text>
<mj-text>Thanks for registering an account with us, we just need to verify your email address by clicking the link below</mj-text>
<mj-button padding="10px 0" background-color="#18181b" color="white" align="left" border-radius="10px" href="<%= @url %>">
  Verify email
</mj-button>
<mj-text padding-bottom="20px">
  The GiTS Team
</mj-text>

