<div class="items-start justify-end gap-4 lg:gap-64 grid lg:flex lg:pt-4">
  <div class="flex justify-between lg:grid lg:gap-8 lg:sticky lg:top-20">
    <%= render_slot(@steps) %>
  </div>
  <div class="grid w-full max-w-screen-sm gap-8">
    <div class="space-y-1">
      <h1 class="col-span-full grow text-2xl font-semibold"><%= @title %></h1>
      <h2 class="text-zinc-600"><%= @subtitle %></h2>
    </div>
    <%= render_slot(@inner_block) %>
  </div>
</div>
