<div class="flex h-screen flex-wrap items-center justify-center gap-8">
  <.link
    :for={account <- @accounts}
    href={~p"/accounts/#{account.id}?#{URI.encode_query(%{"to" => @conn.params["to"]})}"}
    class="border p-6 rounded-2xl"
  >
    <span><%= account.name %></span>
    <span :for={member <- account.members}><%= member.role %></span>
  </.link>
</div>
