<.simple_form
  :let={f}
  for={@form}
  action="/accounts"
  method="POST"
  class="w-full mx-auto space-y-8"
>
  <.input type="text" label="What's the name of your organization?" field={f[:name]} />
  <div>
    <button class="rounded-lg bg-zinc-900 px-4 py-3 text-sm font-medium text-white">
      Create organization
    </button>
  </div>
</.simple_form>
