<h1 class="font-poppins text-3xl font-semibold text-gray-900">Invite user to your account</h1>

<.simple_form :let={f} for={@form} action={@action} method="POST">
  <.input type="text" label="Email" field={f[:email]} />
  <.input
    type="select"
    label="Email"
    field={f[:role]}
    options={[Admin: :admin, Editor: :editor, "Access Coordinator": :access_coordinator]}
  />

  <div class="flex items-center gap-6">
    <.button>Invite</.button>
  </div>
</.simple_form>
