<GitsWeb.EventComponents.card event={@event}>
  <%= if @current_user do %>
    <.button phx-click={JS.navigate(~p"/events/#{@event.id}/get-tickets")}>
      Get tickets
    </.button>
  <% else %>
    <.button phx-click={
      JS.navigate(
        "/sign-in?" <> URI.encode_query(%{"return_to" => ~p"/events/#{@event.id}/get-tickets"})
      )
    }>
      Get tickets
    </.button>
  <% end %>
</GitsWeb.EventComponents.card>
