<div class="p-4">
  <h1 class=" text-4xl font-medium">Help Center</h1>
  <div class="flex gap-8 pt-20">
    <div>Get help with a recent event</div>
    <.link navigate={~p"/faq"}>Frequently asked questions</.link>
  </div>
</div>
