<!-- <div class="fixed inset-0 bg-slate-100" role="none"></div> -->
<div class="sticky top-0 z-10 space-y-8 px-2">
  <div class="h-[calc(100dvh-theme(space.14))] mx-auto max-w-screen-2xl rounded-xl bg-white p-4 shadow">
    Cheese
  </div>
</div>
