<.flash_group flash={@flash} />
<div class="flex h-screen gap-4 overflow-auto bg-white p-4">
  <main class="flex w-full items-center justify-center space-y-8">
    <%= @inner_content %>
  </main>
</div>
