<div class="mx-auto min-h-screen max-w-screen-xl gap-4 p-4 pt-32 lg:flex lg:px-12">
  <main class="mx-auto w-full space-y-8 sm:max-w-md">
    <a href="/" class="font-poppins text-3xl font-black italic">GiTS</a>
    <%= @inner_content %>
  </main>
  <aside class="hidden grow p-4 lg:block"></aside>
</div>
