<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <SEO.juice
      conn={@conn}
      config={GitsWeb.SEO.config()}
      page_title={assigns[:page_title] || "Home"}
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <Gits.Turnstile.script />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <!-- Brevo Conversations {literal} -->
    <script>
      (function(d, w, c) {
          w.BrevoConversationsID = '677fe0ffc2a878d34e090918';
          w[c] = w[c] || function() {
              (w[c].q = w[c].q || []).push(arguments);
          };
          var s = d.createElement('script');
          s.async = true;
          s.src = 'https://conversations-widget.brevo.com/brevo-conversations.js';
          if (d.head) d.head.appendChild(s);
      })(document, window, 'BrevoConversations');
    </script>
    <!-- /Brevo Conversations {/literal} -->
  </head>

  <body class="font-poppins min-h-dvh leading-tight antialiased bg-white dark:bg-black">
    {@inner_content}
  </body>
</html>
