<h1 class="font-poppins font-semibold text-3xl text-gray-900">Create new event</h1>

<.simple_form :let={f} for={@form} action={~p"/accounts/#{@account_id}/events"} method="POST">
  <.input type="text" label="Name" field={f[:name]} />
  <.input type="datetime-local" label="Starts date" field={f[:starts_at]} />
  <div class="flex gap-6 items-center">
    <.button>Hello</.button>
  </div>
</.simple_form>
