<div class="border overflow-hidden lg:rounded-lg">
  <.table id="users" rows={[%{id: 1, username: "Sdu"}, %{id: 2, username: "Nkero"}]}>
    <:col :let={user} label="Id"><%= user.id %></:col>
    <:col :let={user} optional label="Username"><%= user.username %></:col>

    <:action :let={_user}>
      <button class="border size-9 text-sm inline-flex items-center justify-center rounded-lg">
        <.icon name="i-lucide-ellipsis" />
      </button>
    </:action>
  </.table>
</div>
