<div class="border overflow-hidden lg:rounded-lg">
  <.table id="attendees" rows={@attendees}>
    <:col :let={attendee} label="Name"><%= attendee.name %></:col>
    <:col :let={attendee} label="Ticket"><%= attendee.ticket %></:col>

    <:action :let={_user}>
      <button class="border size-9 text-sm inline-flex items-center justify-center rounded-lg">
        <.icon name="i-lucide-ellipsis" />
      </button>
    </:action>
  </.table>
</div>
