<div class="sm:flex-auto px-1">
  <h1 class="text-base font-semibold leading-6 text-gray-900 capitalize">{@action}</h1>
  <p :if={false} class="mt-2 text-sm text-gray-700">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit veritatis natus at saepe.
  </p>
</div>
